/***************
     RESET
***************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/**************
    GENERAL
**************/

.container {
    max-width: 1200px;
    margin: auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 10%;
    height: 120px;
    background-color: red;
    border: 5px solid grey;
    line-height: 120px;
    text-align: center;
}

.active {
    background-color: aqua;
}